<%= form_for(employee) do |form| %>
  <!-- Errors Notice -->
  <% if employee.errors.any? %>
    <ul>
      <% employee.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= form.label :"Имя" %>
      <%= form.text_field :first_name, placeholder: "выаываыв", class: 'form-control bg-secondary' %>
    </div>

    <div class="form-group">
      <%= form.label :"Отчество" %>
      <%= form.text_field :patronymic, class: 'form-control bg-secondary' %>
    </div>

    <div class="form-group">
      <%= form.label :"Фамилия" %>
      <%= form.text_field :last_name, class: 'form-control bg-secondary' %>
    </div>

    <div class="form-group">
      <%= form.label :"Мобильный (Vodafone)" %>
      <%= form.number_field :mobile_phone1, class: 'form-control bg-secondary' %>
    </div>

    <div class="form-group">
      <%= form.label :"Мобильный (Киевстар)" %>
      <%= form.number_field :mobile_phone2, class: 'form-control bg-secondary' %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= form.label :"IP-телефон" %>
      <%= form.number_field :ip_phone, class: 'form-control bg-secondary' %>
    </div>

    <div class="form-group">
      <%= form.label :"Электронная почта" %>
      <%= form.text_field :email, class: 'form-control bg-secondary' %>
    </div>

    <div class="form-group">
      <%= form.label :"Дата рождения" %>
      <%= form.text_field :birthday, class: 'form-control bg-secondary' %>
    </div>

    <div class="form-group">
      <%= form.label :"Должность" %>
      <%= form.text_field :position, class: 'form-control bg-secondary' %>
    </div>

    <div class="form-group">
      <%= form.label :"Отдел" %>
      <%= form.text_field :department, class: 'form-control bg-secondary' %>
    </div>

    <div class="form-group">
      <%= form.label :"Фото" %>
      <%# form.file_field :avatar %>

      <div class="custom-file">
        <%= form.file_field :avatar, class: "custom-file-input" %>
        <label class="custom-file-label" for="exampleInputFile" data-browse="Открыть">Выберите Файл</label>
      </div>
    </div>

    <div class="form-group" align="right">
      <%= form.submit "Подтвердить", class: 'btn btn-warning' %>
    </div>
  </div>
</div>

<% end %>
