<h3><%= params[:department] %></h3>

  <table class="table color-white table-responsive">
    <thead>
      <tr>
        <th scope="col">Должность</th>
        <th scope="col">ФИО</th>
        <th scope="col">Электронный адрес</th>
        <th scope="col">Телефон</th>
        <th scope="col">Дата рождения</th>
        <% if current_user.role == "admin" %>
          <th scope="col"></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |result| %>
        <tr>
          <td><%= result.position %></td>
          <td>
            <%= link_to employee_path(result) do %>
              <%= result.last_name.capitalize() if result.last_name.present? %>
              <%= result.first_name.capitalize() if result.first_name.present? %>
              <%= result.patronymic.capitalize() if result.patronymic.present? %>
            <% end %>
          </td>
          <td>
            <a href="mailto:<%= result.email %>">
              <%= result.email %>
            </a>
          </td>
          <td><%= result.mobile_phone1 %> <%= result.mobile_phone2 %></td>
          <td><%= result.birthday %></td>
          <% if current_user.role == "admin" %>
            <td>
              <%= link_to "", edit_employee_path(result), class: 'fa fa-edit fa-lg table-icons' %>
              <%= link_to "", employee_path(result), method: :delete, class: 'fa fa-trash fa-lg trash-icon', data: { confirm: 'Вы уверены?' } %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
