<h2>Табличный вид</h2>

<table class="table color-white">
  <thead>
    <tr>
      <!--<th scope="col">#</th>-->
      <th scope="col">Должность</th>
      <th scope="col">ФИО</th>
      <th scope="col">IP номер</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <!--<th scope="row"><%# employee.id %></th>-->
        <td><%= employee.position %></td>
        <td><%= employee.last_name.capitalize() if employee.last_name.present? %> <%= employee.first_name.capitalize() if employee.first_name.present? %> <%= employee.patronymic.capitalize() if employee.patronymic.present? %></td>
        <td><%= employee.ip_phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>

