<h3>Результат поиска
  <% if @results.count > 0 %>
    (<%= @results.count %>)
  <% end %>
</h3>

<% if @results.count > 0 %>
  <table class="table color-white table-responsive">
    <thead>
      <tr>
        <th scope="col">Должность</th>
        <th scope="col">ФИО</th>
        <th scope="col">Электронный адрес</th>
        <th scope="col">Телефон</th>
        <th scope="col">Дата рождения</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |result| %>
        <tr>
          <td><%= result.position %></td>
          <td><%= result.last_name.capitalize() if result.last_name.present? %> <%= result.first_name.capitalize() if result.first_name.present? %> <%= result.patronymic.capitalize() if result.patronymic.present? %></td>
          <td><%= result.email %></td>
          <td><%= result.mobile_phone1 %> <%= result.mobile_phone2 %></td>
          <td><%= result.birthday %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-dark" role="alert">
    По Вашему запросу результаты не найдены!
  </div>
<% end %>
