

<h2>Табличный вид</h2>

<table class="table color-white">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Должность</th>
      <th scope="col">ФИО</th>
      <th scope="col">Электронный адрес</th>
      <th scope="col">Телефон</th>
      <th scope="col">Дата рождения</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <th scope="row"><%= employee.id %></th>
        <td><%= employee.position %></td>
        <td><%= employee.last_name %> <%= employee.first_name %> <%= employee.patronymic %></td>
        <td><%= employee.email %></td>
        <td><%= employee.mobile_phone1 %></td>
        <td><%= employee.birthday %></td>
      </tr>
    <% end %>
  </tbody>
</table>

