<h2>Табличный вид</h2>

<table class="table color-white table-responsive">
  <thead>
    <tr>
      <th scope="col">Должность</th>
      <th scope="col">ФИО</th>
      <th scope="col">Электронный адрес</th>
      <th scope="col">Телефон</th>
      <th scope="col">Дата рождения</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.position %></td>
        <td><%= employee.last_name.capitalize() if employee.last_name.present? %> <%= employee.first_name.capitalize() if employee.first_name.present? %> <%= employee.patronymic.capitalize() if employee.patronymic.present? %></td>
        <td><%= employee.email %></td>
        <td><%= employee.mobile_phone1 %> <%= employee.mobile_phone2 %></td>
        <td><%= employee.birthday %></td>
        <td>
          <%= link_to "", edit_employee_path(employee), class: 'fa fa-edit fa-lg table-icons' %>
          <%= link_to "", employee_path(employee), method: :delete, class: 'fa fa-trash fa-lg trash-icon', data: { confirm: 'Вы уверены?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

