<h2>Плиточный вид</h2>

<div class="row mb-2 <%= 'sortable' if current_user.role == 'admin' %>">
  <% @employees.each do |employee| %>
  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" data-id="<%= employee.id %>">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success">
          <%= employee.position %>
        </strong>
        <h3 class="mb-0">
          <%= employee.last_name.capitalize() if employee.last_name.present? %>
          <%= employee.first_name.capitalize() if employee.first_name.present? %>
          <%= employee.patronymic.capitalize() if employee.patronymic.present? %>
        </h3>
        <!--<div class="mb-1 text-muted"><%#= employee.email %></div>
        <p class="mb-auto"><%#= employee.email %></p>-->
        <!--<a href="#" class="stretched-link">Подробнее</a>-->
        <%= link_to "", employee_path(employee), class: "stretched-link" %>
        <%#= link_to "Подробнее", employee_path(employee), class: "stretched-link top-bottom pb-24" %>
      </div>
      <% if employee.avatar.present? %>
        <div class="col-md-6 d-lg-block">
          <%= image_tag employee.avatar.to_s, class: "bd-placeholder-img", width: "100%" %>
        </div>
      <% else %>
        <div class="col-md-6 d-none d-lg-block">
          <%= image_tag "empty_avatar.jpg", class: "bd-placeholder-img", width: "100%" %>
        </div>
      <% end %>
      <!--<div class="col-auto d-none d-lg-block">
        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
      </div>-->
    </div>
  </div>
  <% end %>
</div>

